---
- name: network device backup to git
#  hosts: crtr3,sw1,crtr2,sw2,mtk1
#  hosts: mtk1
  hosts: cat_upgrade
  gather_facts: false
  vars:
    backup_dir: "{{ playbook_dir }}/net_backups"
    backup_file: "{{ backup_dir }}/{{ inventory_hostname }}"
    backup_repo: git@github.com:gregsowell/backups
    git_name: Git Backup
    git_email: gitbackup@gregsowell.com
  
  tasks:

  - import_role:
      name: network_backup_git
